.backgroundImage{
    position: absolute;
    width: 100%;
    height: 750px;
    top: 0px;
    z-index: 1;
}
.content, #bottom{
    position: relative;
    z-index: 2500;
}

header{
height: 740px;

}
a{
    text-decoration: none;
}
.logo{
    float: left;
    margin: 1em;
}
.navigation{
    clear: both;
    margin-left: 35%;
    
}
.wrapper{
    margin: 0 auto;
    font-family: 'futura';
}
.title{
    font-family: 'EB Garamond', serif;
    font-size: 6em;
    font-weight: 200;
    color: white;
    margin-bottom:0 ;
    margin-top:0;
    letter-spacing: .11em;
}

.nav > li{
    float: left;
    padding: 0 2.5em;
    font-family: 'futura';
    font-weight: 200;
    font-size: 1.6em;
}
ul{
    list-style-type: none;
}
.missionStatement{
    margin:0 5%;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    margin-bottom: 3%;
}
#statement{
    font-family: 'futura';
    text-align: center;
    font-weight: 200;
    font-size: 2em;
}
.columns{
    margin-left: 5%;
    text-align: center;
    font-weight: 100;

}
.c1,.c2,.c3{
    float: left;
    padding-left: 5em;
    font-weight: 100;

}
.propName{
    font-weight: 100;
    font-size: 2em;
}
footer{
    clear:both;
    margin: 0 auto;
    background-color: blue;
    height: 80px;
    width:100%;
    font-family: 'futura';
    font-weight: 200;

}
.icons{
    float:left;
    margin-top:2.7em;
    margin-left: 9em;
}
.footNote{
    margin-left:23%;
    float:left;
}
.footNote > p{
    text-align: center;
    color: white;


}
.footRight{
    padding-top: 2.4em;
    color:white;
    margin-left:69%;
}
